:root{
    --site-fontfamily:Arial, Helvetica, sans-serif;
    --background-cover:url(https://www.visitdalarna.se/sites/cb_dalarna/files/styles/slide_large/public/IF_WINTER_HIGHRES_214-edit.jpg?h=6e113c9e&itok=2JqwD98D);
    --nav-bg:none;
    --nav-color:rgb(31, 27, 255);
    --banner-color:rgb(43, 40, 197);
    --banner-stroke: 1px rgb(255, 255, 255);
    --content-bg-1:rgb(151, 242, 248);
    --content-bg-2:rgb(255, 255, 255);
    --content-title-color:rgb(0, 0, 0);
    --content-pharagraph-color:rgb(0, 0, 0);
    --nav-links-fontsize:1.6rem;
    --banner-title-fontsize:3.5rem;
    --banner-subtitle-fontsize:2.2rem;
    --content-title--fontsize:2rem;
    --content-pharagraph-fontsize:1.2rem;
    --banner-title-letterspacing:0.8rem;
    --banner-subtitle-fontweight:700;
    --content-pharagraph-lineheight:30px;
}