:root{
    --background:#eee3c8;
    --font_text:'abril-text';
    --font_title:'brandon-grotesque';
    --img_src:url(https://urldefense.com/v3/__https://images.unsplash.com/photo-1471119017026-179f1bb0a70e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ__;!!CyYWWBA!SY9nfUEY4NmSZr9HJD9dhEnILFajTHf488IAKY8R36P49T9fcR4x89vhwRiqj0SwYYQt$)
}
body{
    margin: 0;
    background-color: var(--background);
}
.d_flex_generic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper{
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
}
.container{
    width: 100vw;
    height: 700px;
}
.card{
    width: 600px;
    height: 500px;
    flex-direction: column;
}
.title{
    text-align: center;
    font-size: 60px;
    width: 600px;
    margin: 0 0 5px 0;
    padding: 5px;
    font-family: var(--font_title);
    border-top: solid 4px;
    border-bottom: solid 4px;
}
.authors{
    font-weight: lighter;
    margin: 15px;
}
.imgg{
    width: 600px;
}
.pharagraph{
    align-self: flex-start;
    width: 450px;
    font-size: 17px;
    font-family: var(--font_text);
}
.subtitle{
    word-spacing: 3px;
}